* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  background-color: rgb(236, 235, 232);
}
body {
  overflow: hidden;
  font-family: "Nesans", sans-serif;
}
button,
input,
textarea,
select {
  font: inherit;
}

/* ----------------------------------- */
/* font */
/* ----------------------------------- */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Nesans";
  src: url(../font/Nesans.ttf) format("woff2");
}
@font-face {
  font-family: "Cafe24Lovingu";
  src: url(../font/Cafe24Lovingu.ttf) format("woff2");
}

/* ----------------------------------- */
/* intro */
/* ----------------------------------- */

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 235, 232);
  z-index: 9999;
  /* display: flex; */
  align-items: center;
}
#intro .intro_wave {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 38%;
  transform: translate(0, -50%);
  height: 500px;
}
#intro .intro_wave path {
  stroke-width: 1;
}
#intro .intro_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background: url("../img/intro_logo.png") no-repeat center / contain;
}
#intro .intro_text {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 45px;
  overflow: hidden;
}
#intro .intro_text2 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 45px;
  overflow: hidden;
}
#intro .intro_logo_text1 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 45px;
  background: url("../img/intro_logo_text1.png") no-repeat center / cover;
}

#intro .intro_logo_text2 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 45px;
  background: url("../img/intro_logo_text2.png") no-repeat center / cover;
}
.inner {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 0 5%; */
}
/* ----------------------------------- */
/* header */
/* ----------------------------------- */
header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header h1 {
  width: 80px;
  height: 110px;
}
header h1 a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

/*gnb*/
.gnb ul {
  display: flex;
  font-family: "Caudex", serif;
  height: auto;
}
.gnb ul li a {
  font-size: 15px;
  margin: 0 5px;
  padding: 15px 20px;
  color: #4f3737;
  border-radius: 60%;
}
.gnb ul li:last-child a {
  color: #f1927b;
  border: 1px solid #f1927b;
  padding: 15px 30px;
}
.gnb ul li a {
  transition: 0.5s;
}
.gnb ul li a:hover {
  color: #fff;
  background-color: #f1927b;
}

/* ----------------------------------- */
/* visual */
/* ----------------------------------- */
#visual {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.visual_pin {
  height: calc(100vh + 1500px);
}
#visual .video_wrap {
  padding-top: 80px;
  position: absolute;
  width: 70%;
  aspect-ratio: 1500 / 600;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 2;
  /* background-color: rgb(2, 2, 2); */
}
#visual .video_wrap iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
#visual .visual_card {
  height: 100%;
  width: 100%;
  z-index: 1;
}
#visual .visual_card ul {
  width: 100%;
  height: 100%;
  position: relative;
}
#visual .visual_card ul li {
  position: absolute;
  max-width: 230px;
  min-width: 100px;
  width: 15rem;
}
#visual .visual_card ul li:nth-child(1) {
  left: 10%;
  top: 13%;
}
#visual .visual_card ul li:nth-child(2) {
  right: 12%;
  top: 23%;
}
#visual .visual_card ul li:nth-child(3) {
  left: 5%;
  bottom: 3%;
}
#visual .visual_card ul li:nth-child(4) {
  left: 20%;
  bottom: 10%;
}
#visual .visual_card ul li:nth-child(5) {
  right: 23%;
  top: 10%;
}
#visual .visual_card ul li:nth-child(6) {
  right: 18%;
  bottom: 2%;
}
#visual .visual_card ul li img {
  width: 100%;
}
#visual .visual_card ul li video {
  width: 100%;
}

/* ----------------------------------- */
/* section1 */
/* ----------------------------------- */
#section1 {
  padding-top: 80px;
}

#section1 .visual_roll {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#section1 .visual_roll ul {
  display: flex;
  width: max-content;
  height: 100%;
  gap: 10px;
  animation: visualRoll 30s linear infinite;
}
#section1 .visual_roll ul li {
  flex-shrink: 0;
}
@keyframes visualRoll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 5px));
  }
}
#section1 .mainText {
}
#section1 .mainText p {
  padding-left: 10px;
  font-size: clamp(16px, 0.9vw, 22px);
  color: #333;
  margin-bottom: 40px;
  font-family: "Pretendard";
  font-weight: 300;
}
#section1 .mainText h2 {
  color: #f1927b;
  /* overflow: hidden; */
  font-size: clamp(88px, 19vw, 390px);
  /* line-height: 380px; */
  margin: 0;
  width: 100%;
  font-weight: normal;
}

/* ----------------------------------- */
/* section2 */
/* ----------------------------------- */

#section2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #b09288;
}
/* background */
#section2 .section_bg {
  position: absolute;
  inset: 0;
  background: no-repeat center / cover;
  pointer-events: none;
}

#section2 .bg1 {
  z-index: 0;
  opacity: 1;
}

#section2 .bg2 {
  z-index: 0;
  opacity: 0;
}

/* inner */
#section2 .inner {
  padding-top: 80px;
  position: relative;
  height: 100vh;
  max-height: 1000px;
}

/* section_tit */
#section2 .section_tit {
  padding-top: 30px;
  text-align: center;
  font-size: 84px;
  font-family: "Cafe24Lovingu";
  font-weight: 400;
}
#section2 .section_tit h2 {
  position: relative;
  display: inline-block;
  font: inherit;
}
#section2 .section_tit .tit_base {
  color: rgba(255, 255, 255, 0.4);
}
#section2 .section_tit .tit_fill {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  clip-path: inset(0 100% 0 0);
}

/* rooms */
#section2 .rooms {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: none;
  gap: 16px;
  width: clamp(1500px, 70vw, 1800px);
  aspect-ratio: 1500 / 600;
  max-width: 1800px;
  /* max-width: 1500px; */
  background: #b09288;
  color: #fff;
  padding: 80px;
}
#section2 .rooms.on {
  display: flex;
}
/* rooms_intro */
#section2 .rooms_intro {
  flex: 0.6;
  padding: 0px 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#section2 .rooms_intro::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}
#section2 .rooms_intro .rooms_title {
  margin-bottom: 80px;
}
#section2 .rooms_intro .rooms_title h3 {
  padding: 8px 4px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 30%
  );
  font-size: clamp(20px, 2.8vw, 50px);
  font-weight: 400;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  width: 200px;
}
#section2 .rooms_title .count {
  margin-top: 12px;
  font-size: 13px;
}
#section2 .rooms_nav {
  display: flex;
  /* justify-content: center; */
  padding-left: 25px;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

#section2 .rooms_nav button {
  border: 0;
  padding: 0;
  background: none;
  color: #fff;
  cursor: pointer;
}
#section2 .rooms_nav .room_number {
  font-size: 13px;
}

/* rooms_main */
#section2 .rooms_main {
  flex: 0 1 780px;
  position: relative;
}
#section2 .rooms_main ul {
  width: 100%;
  aspect-ratio: 6.5/ 4;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
#section2 .rooms_main ul::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
#section2 .rooms_main:hover ul::after {
  opacity: 1;
}
#section2 .rooms_main:hover .rooms_main_nav button {
  opacity: 1;
}
#section2 .rooms_main ul li {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
}
#section2 .rooms_main ul li.on {
  opacity: 1;
}
#section2 .rooms_main video {
  width: 100%;
  display: block;
}
#section2 .rooms_main ul li img,
#section2 .rooms_main ul li video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* rooms_main-nav */
#section2 .rooms_main_nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  padding-bottom: 10px;
  z-index: 2;
  bottom: 0;
}
#section2 .rooms_main_nav button {
  font-size: 24px;
  border: 0;
  padding: 0;
  background: none;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition: transform 1s;
  opacity: 0;
}
#section2 .rooms_main_nav button span {
  font-size: 20px;
}
#section2 .rooms_main_nav button:nth-child(1):hover {
  transform: translateX(-20%);
}
#section2 .rooms_main_nav button:nth-child(3):hover {
  transform: translateX(20%);
}
#section2 .rooms_main_nav button span {
  display: block;
}

/* rooms_main-progress */
#section2 .rooms_main_nav .progress {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #fff;
}
#section2 .rooms_main_nav .progress span {
  font-size: 14px;
}
#section2 .progress_bar {
  position: relative;
  width: 110px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}
#section2 .progress_bar span {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333%;
  height: 100%;
  background: #fff;
}

/* rooms_detail */
#section2 .rooms_detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  word-break: keep-all;
}
#section2 .rooms_detail h3 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
}
#section2 .rooms_detail .strong {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
#section2 .rooms_detail .description {
  padding-left: 5px;
  font-size: 13px;
  font-family: "Caudex";
}

/* ----------------------------------- */
/* section3 */
/* ----------------------------------- */

/* inner */
#section3 {
  padding-top: 80px;
}
#section3 .inner {
  width: 90%;
  max-width: 1920px;
}
#section3 .section_tit h2 {
  font-family: "Caudex";
  font-weight: normal;
}
